.feature-convenience
  .feature-convenience__wrapper
    .feature-convenience__icon
    .feature-convenience__text
      span.feature-convenience__title Удобство
      span.feature-convenience__description Окно в каждой из спален
