.register-card {
  width: 380px;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20);
}

.register-card__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.register-card__name-gender {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.register-card__credentials-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  .label-primary {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.register-card__credentials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.register-card__special-offer {
  .toggle {
    margin-top: 3px;
  }
}

.register-card__register-button {
  display: flex;
}

.register-card__log-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-card__already-registered {
  color: #000;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.register-card__log-in-button {
  width: 99px;
  height: 44px;
}
