.subscription-input
  label
    span.subscription-input__label Text field
    .subscription-input__wrapper
      input(type='text' name='subscription-text-field' placeholder='Email')
      .subscription-input__icon
        include arrow_forward.svg
