.subscription-input__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.subscription-input__label--primary {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
  color: #1F2041;
}

.subscription-input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.subscription-input__wrapper--focused {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.subscription-input {
  input {
    width: 100%;
    margin-left: 14px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    border-style: none;
    color: rgba(31, 32, 65, 0.75);
  }
}

.subscription-input {
  input {
    &:focus {
      outline: none;
    }
  }
}

.subscription-input__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  margin-left: 12px;
}
