mixin subscriptionInput(titleLabel, name, placeholder)
  .subscription-input
    label.subscription-input__label
      .subscription-input__header
        span.subscription-input__label-primary=titleLabel
      .subscription-input__wrapper
        input.subscription-input__input(type='text' name=name placeholder=placeholder)
        .subscription-input__icon
          include arrow_forward.svg
