.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider__wrapper {
  position: relative;

  &:not(:hover) {
    .slider__controls:not(:has(:focus-visible)) {
      @extend .visually-hidden;
    }
  }

  .slider__controls:has(:focus-visible) {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;    
  }

  &:hover {
    .slider__controls {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;    
    }
  }
}

.slider__viewport {
  border-radius: 4px 4px 0 0;
  max-width: 270px;
  max-height: 151px;
  overflow: hidden;
}

.slider__slide {
  min-width: 270px;
  min-height: 151px;
}

.slider__img {
  width: 100%;
}

.slider__prev-button,
.slider__next-button {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  height: 100%;
  display: flex;
  align-items: center;

  &:focus-visible {
    outline: 3px solid #6bd0bf;
  }
}

.slider__prev-button {
  border-radius: 4px 0 0 0;

  &:hover,
  &:focus-visible {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
  }
}

.slider__next-button {
  border-radius: 0 4px 0 0;

  &:hover,
  &:focus-visible {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
  }
}

.slider__left-arrow-icon,
.slider__right-arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  z-index: 1000;
}

.slider__dot-marks {
  position: absolute;
  top: 129px;
  left: 214px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.slider__dot-mark {
  width: 7px;
  height: 7px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.slider__dot-mark--active {
  background-color: #FFFFFF;
}
