.slider
  .slider__wrapper
    .slider__viewport
      .slider__slide
        img(src='./assets/1.jpg', alt='room inside')
    .slider__controls
      .slider__prev-button
        .slider__left-arrow-icon
      .slider__next-button
        .slider__right-arrow-icon
    .slider__controls-active
      .slider__slide-mark.slider__slide-mark--active
      .slider__slide-mark
      .slider__slide-mark
      .slider__slide-mark
