include includes/header/header

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header('#F4F4F6')
    main
      .cards
        .cards__container
          .card__wrapper
          .card__wrapper
          .card__wrapper
