include includes/header/header

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header('#F4F4F6')
    main
      .cards
        .cards__container
          .cards__wrapper
            .cards__item
              include cards/search-card/search-card
            .cards__item
              include cards/register-card/register-card
          .cards__wrapper
            .cards__item
              include cards/booking-card/booking-card
            .cards__item
              include cards/log-in-card/log-in-card
          .cards__wrapper
            .cards__item
              include cards/calendar/calendar
            .cards__item
            .cards__item
        .cards__footer
