include includes/header/header
include cards/search-card/search-card
include cards/register-card/register-card
include cards/booking-card/booking-card
include cards/log-in-card/log-in-card
include cards/calendar/calendar
include cards/room-card/room-card
include includes/sprite/sprite

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +sprite()
    +header('#F4F4F6')
    main
      .cards
        .cards__container
          .cards__wrapper
            .cards__item
              +searchCard()
            .cards__item
              +registerCard()
          .cards__wrapper
            .cards__item
              +bookingCard()
            .cards__item
              +logInCard()
          .cards__wrapper
            .cards__item
              +calendar()
            .cards__item
              +roomCard({
                imgUrl: './assets/1.jpg',
                roomNumber: 888,
                isLux: true,
                rating: 5,
                reviewsCount: 145,
                ratingName: 'room-888'
              })
            .cards__item
              +roomCard({
                imgUrl: './assets/2.jpg',
                roomNumber: 840,
                isLux: false,
                rating: 4,
                reviewsCount: 65,
                ratingName: 'room-840'
              })
        .cards__footer
