//- Mixins
include includes/header/header
include includes/label-primary/label-primary
include includes/range-slider/range-slider
include includes/custom-checkbox/custom-checkbox
include includes/custom-radio/custom-radio
include includes/toggle/toggle
include includes/like-button/like-button
include includes/rating/rating
include includes/dropdown/dropdown
include includes/dropdown-guests/dropdown-guests
include includes/rich-checkbox-button-group/rich-checkbox-button-group
include includes/bullet-list/bullet-list
include includes/expandable-checkbox-list/expandable-checkbox-list
include includes/button-icon-contained/button-icon-contained
include includes/button-text/button-text
include includes/button-outlined/button-outlined
include includes/button-contained/button-contained
include includes/custom-text-field/custom-text-field
include includes/custom-select/custom-select
include includes/subscription-text-field/subscription-text-field
include includes/pagination/pagination
include includes/feature-comfort/feature-comfort
include includes/feature-convenience/feature-convenience
include includes/feature-cosiness/feature-cosiness
include includes/review/review
include includes/sprite/sprite

- const checkboxListItems = [
-   {
-     title: 'Завтрак',
-     name: 'breakfast',
-     isChecked: false
-   },
-   {
-     title: 'Письменный стол',
-     name: 'desk',
-     isChecked: true
-   },
-   {
-     title: 'Стул для кормления',
-     name: 'feeding-chair',
-     isChecked: true
-   },
-   {
-     title: 'Кроватка',
-     name: 'crib',
-     isChecked: true
-   },
-   {
-     title: 'Телевизор',
-     name: 'tv',
-     isChecked: false
-   },
-   {
-     title: 'Шампунь',
-     name: 'shampoo',
-     isChecked: false
-   },
- ];

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +sprite()
    +header()
    main
      .form-elements-container
        .left-top-wrapper
          .left-top-wrapper-item
            +customTextField({
              type: 'email',
              name: 'Email',
              value: '',
              placeholder: 'Email',
              titleLabel: 'Text field',
              statusLabel: 'Default',
              isHovered: false
            })
          .left-top-wrapper-item
            +customTextField({
              type: 'email',
              name: 'Email',
              value: 'This is pretty awesome',
              placeholder: 'Email',
              titleLabel: 'Text field',
              statusLabel: 'Hover / Focus',
              isHovered: true
            })
          .left-top-wrapper-item
            +customSelect({
              label: 'Dropdown',
              text: 'Сколько гостей',
              ariaLabel: 'Выберите количество гостей'
            })
          .left-top-wrapper-item--large
            +customTextField({
              type: 'text',
              name: 'Date',
              value: '',
              placeholder: 'ДД.ММ.ГГГГ',
              titleLabel: 'masked text field',
              statusLabel: '',
              isHovered: false
            })
          .left-top-wrapper-item--large
            .flex-inner-wrapper
              .left-top-wrapper-item__inner-item
                +customSelect({
                  label: 'Date dropdown',
                  text: 'ДД.ММ.ГГГГ',
                  ariaLabel: 'Выберите дату'
                })
              .left-top-wrapper-item__inner-item
                +customSelect({
                  label: 'Date dropdown',
                  text: '30.08.2023',
                  ariaLabel: 'Выберите дату'
                })
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              +customSelect({
                label: 'Filter date dropdown',
                text: '19 авг - 23 авг',
                ariaLabel: 'Выберите даты'
              })
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              +labelPrimary('subscription text field')
              +subscriptionInput('subscription-text-field', 'Email')
        .right-top-wrapper
          .right-top-wrapper__left-side
            .right-top-wrapper__item
              +labelPrimary('Checkbox Buttons')
              +customCheckbox({
                text: 'Можно курить',
                name: 'smoking-allowed',
                isChecked: false,
                isDisabled: false
              })
              +customCheckbox({
                text: 'Можно с питомцами',
                name: 'pets-allowed',
                isChecked: 'checked',
                isDisabled: false
              })
              +customCheckbox({
                text: 'Можно пригласить гостей (до 10 человек)',
                name: 'party-allowed',
                isChecked: 'checked',
                isDisabled: false
              })
            .right-top-wrapper__item
              +labelPrimary('Radio Buttons')
              +customRadio({
                labels: ['Мужчина', 'Женщина'],
                name: 'gender',
                checkedIndex: 0
              })
            .right-top-wrapper__item
              +labelPrimary('Toggle')
              +toggle({
                title: 'Получать спецпредложения',
                name: 'toggle',
                status: 'checked'
              })
              +toggle({
                title: 'Получать спецпредложения',
                name: 'toggle'
              })
            .right-top-wrapper__item
              +labelPrimary('like button')
              .like-buttons-container
                +likeButton('2', false)
                +likeButton('12', true)
            .right-top-wrapper__item
              +labelPrimary('rate button')
              .flex-inner-wrapper
                +rating(4, 'random-name-first')
                +rating(5, 'random-name-second')
          .right-top-wrapper__right-side
            .right-top-wrapper__item
              +rangeSlider('Range Slider', '5 000₽ - 10 000₽')
            .right-top-wrapper__item
              +labelPrimary('Buttons')
              .right-top-wrapper__buttons-container
                .right-top-wrapper--short
                  .right-top-wrapper__button-container
                    +buttonContained('click me')
                  .right-top-wrapper__button-container
                    +buttonContained('click me', true)
                .right-top-wrapper--short
                  .right-top-wrapper__button-container
                    +buttonOutlined('click me')
                  .right-top-wrapper__button-container
                    +buttonOutlined('click me', true)
                .right-top-wrapper--short
                  +buttonText('click me')
                  +buttonText('click me', true)
                .right-top-wrapper-item__wrapper
                  +buttonIconContained('перейти к оплате', 'button')
            .right-top-wrapper__item
              .right-top-wrapper-item__wrapper
                +labelPrimary('Pagination')
                +pagination({
                  pagesCount: 15,
                  activePage: 1,
                  totalPagesCount: 120
                })
      .form-elements-container
        .left-bottom-wrapper
          .left-bottom-wrapper__dropdown-wrapper
            - const roomItems = [
            -   {title: 'спальни', value: 2},
            -   {title: 'кровати', value: 2},
            -   {title: 'ванные комнаты', value: 0}
            - ];
            +dropdown({
              title: 'dropdown',
              label: 'default',
              name: 'room-dropdown-expanded',
              items: roomItems,
              isOpened: false,
              zIndex: 2
            })
            +dropdown({
              title: 'dropdown',
              label: 'expanded',
              name: 'room-dropdown',
              items: roomItems,
              isOpened: true,
              zIndex: 1
            })
          .left-bottom-wrapper__inner-wrapper
            .left-bottom-wrapper__checkbox-list-wrapper
              +expandableCheckboxList({
                title: 'expandable checkbox list',
                name: 'expandable-checkbox-list-collapsed',
                items: checkboxListItems,
                isOpened: false
              })
              +expandableCheckboxList({
                title: 'expandable checkbox list',
                name: 'expandable-checkbox-list-expanded',
                items: checkboxListItems,
                isOpened: true
              })
            .left-bottom-wrapper__features-wrapper
              .left-bottom-wrapper__features-item
                +featureComfort()
              .left-bottom-wrapper__features-item
                +featureConvenience()
              .left-bottom-wrapper__features-item
                +featureCosiness()
        .right-bottom-wrapper
          .right-bottom-wrapper__inner-wrapper
            .right-bottom-wrapper__item
              - const guestsItems1 = [
              -   {title: 'взрослые', value: 0}, {title: 'дети', value: 0}, {title: 'младенцы', value: 0}
              - ];
              - const guestsItems2 = [
              -   {title: 'взрослые', value: 2}, {title: 'дети', value: 1}, {title: 'младенцы', value: 0}
              - ];
              .right-bottom-wrapper__dropdown-guests-wrapper
                +dropdownGuests({
                  title: 'dropdown',
                  label: '',
                  name: 'guests-dropdown',
                  items: guestsItems1,
                  disabledIndex: -1,
                  isOpened: true
                })
              .right-bottom-wrapper__dropdown-guests-wrapper
                +dropdownGuests({
                  title: 'dropdown',
                  label: '',
                  name: 'guests-dropdown-2',
                  items: guestsItems2,
                  disabledIndex: 2,
                  isOpened: true
                })
            .right-bottom-wrapper__item
              +richCheckboxButtonGroup('Rich Checkbox Buttons')
              .right-bottom-wrapper__bullet-list
                .right-bottom-wrapper__bullet-list--inner
                  - const bulletListItems = [
                  -   'Нельзя с питомцами',
                  -   'Без вечеринок и мероприятий',
                  -   'Время прибытия — после 13:00, а выезд до 12:00'
                  - ];
                  +labelPrimary('bullet list')
                  +bulletList(bulletListItems)
          .right-bottom-wrapper__inner-wrapper
            +review({
              userName: 'Михаил Сахаров',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              dateTimeStamp: '5 дней назад',
              likesCount: '12',
              isLiked: true
            })
      .form-elements-footer
