//- Mixins
include includes/header/header
include includes/label-primary/label-primary
include includes/range-slider/range-slider
include includes/custom-checkbox/custom-checkbox
include includes/custom-radio/custom-radio
include includes/toggle/toggle
include includes/like-button/like-button
include includes/rating/rating
include includes/dropdown/dropdown
include includes/dropdown-guests/dropdown-guests
include includes/rich-checkbox-button/rich-checkbox-button-group
include includes/bullet-list/bullet-list
include includes/expandable-checkbox-list/expandable-checkbox-list
include includes/button-icon-contained/button-icon-contained
include includes/button-text/button-text
include includes/button-outlined/button-outlined
include includes/button-contained/button-contained
include includes/custom-text-field/custom-text-field
include includes/custom-select/custom-select
include includes/subscription-text-field/subscription-text-field

- const checkboxListItems = [
-   {
-     title: 'Завтрак',
-     name: 'breakfast',
-     isChecked: false
-   },
-   {
-     title: 'Письменный стол',
-     name: 'desk',
-     isChecked: true
-   },
-   {
-     title: 'Стул для кормления',
-     name: 'feeding-chair',
-     isChecked: true
-   },
-   {
-     title: 'Кроватка',
-     name: 'crib',
-     isChecked: true
-   },
-   {
-     title: 'Телевизор',
-     name: 'tv',
-     isChecked: false
-   },
-   {
-     title: 'Шампунь',
-     name: 'shampoo',
-     isChecked: false
-   },
- ];

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header()
    main
      .form-elements-container
        .left-top-wrapper
          .left-top-wrapper-item
            +customTextField('Text field', 'Default', '', 'Email', '', false)
          .left-top-wrapper-item
            +customTextField('Text field', 'Hover / Focus', 'This is pretty awesome', 'Email', '', true)
          .left-top-wrapper-item
            +customSelect('Dropdown', 'Сколько гостей', 'Выберите количество гостей')
          .left-top-wrapper-item--large
            +customTextField('masked text field', '', '', 'ДД.ММ.ГГГГ', '', false)
          .left-top-wrapper-item--large
            .flex-inner-wrapper
              .left-top-wrapper-item__inner-item
                +customSelect('Date dropdown', 'ДД.ММ.ГГГГ', 'Выберите дату')
              .left-top-wrapper-item__inner-item
                +customSelect('Date dropdown', '30.08.2023', 'Выберите дату')
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              +customSelect('Filter date dropdown', '19 авг - 23 авг', 'Выберите даты')
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              +subscriptionInput('Subscription text field', 'subscription-text-field', 'Email')
        .right-top-wrapper
          .right-top-wrapper__left-side
            .right-top-wrapper__item
              +labelPrimary('Checkbox Buttons')
              +customCheckbox('Можно курить', 'smoking-allowed')
              +customCheckbox('Можно с питомцами', 'pets-allowed', 'checked')
              +customCheckbox('Можно пригласить гостей (до 10 человек)', 'party-allowed', 'checked')
            .right-top-wrapper__item
              +labelPrimary('Radio Buttons')
              +customRadio(['Мужчина', 'Женщина'], 'gender')
            .right-top-wrapper__item
              +labelPrimary('Toggle')
              +toggle('Получать спецпредложения', 'toggle', 'true')
              +toggle('Получать спецпредложения', 'toggle')
            .right-top-wrapper__item
              +labelPrimary('like button')
              .like-buttons-container
                +likeButton('2', false)
                +likeButton('12', true)
            .right-top-wrapper__item
              +labelPrimary('rate button')
              .flex-inner-wrapper
                +rating(4, 'random-name-first')
                +rating(5, 'random-name-second')
          .right-top-wrapper__right-side
            .right-top-wrapper__item
              +rangeSlider('Range Slider', '5 000₽ - 10 000₽')
              .right-top-wrapper__item--nouislider
            .right-top-wrapper__item
              +labelPrimary('Buttons')
              .right-top-wrapper__buttons-container
                .right-top-wrapper--short
                  .right-top-wrapper__button-container
                    +buttonContained('click me')
                  .right-top-wrapper__button-container
                    +buttonContained('click me', true)
                .right-top-wrapper--short
                  .right-top-wrapper__button-container
                    +buttonOutlined('click me')
                  .right-top-wrapper__button-container
                    +buttonOutlined('click me', true)
                .right-top-wrapper--short
                  +buttonText('click me')
                  +buttonText('click me', true)
                .right-top-wrapper-item__wrapper
                  +buttonIconContained('перейти к оплате')
            .right-top-wrapper__item
              .right-top-wrapper-item__wrapper
                +labelPrimary('Pagination')
                include includes/pagination/pagination
      .form-elements-container
        .left-bottom-wrapper
          .left-bottom-wrapper__dropdown-wrapper
            - const roomItems = [{title: 'спальни', value: 2}, {title: 'кровати', value: 2}, {title: 'ванные комнаты', value: 0}]
            +dropdown('dropdown', 'expanded', 'room-dropdown-expanded', roomItems, 2, true)
            +dropdown('dropdown', 'default', 'room-dropdown', roomItems, 2)
          .left-bottom-wrapper__inner-wrapper
            .left-bottom-wrapper__checkbox-list-wrapper
              +expandableCheckboxList('expandable checkbox list', 'collapsed', checkboxListItems, false)
              +expandableCheckboxList('expandable checkbox list', 'expanded', checkboxListItems, true)
            .left-bottom-wrapper__features-wrapper
              include includes/feature-comfort/feature-comfort
              include includes/feature-convenience/feature-convenience
              include includes/feature-cosiness/feature-cosiness
        .right-bottom-wrapper
          .right-bottom-wrapper__inner-wrapper
            .right-bottom-wrapper__item
              - const guestsItems1 = [{title: 'взрослые', value: 0}, {title: 'дети', value: 0}, {title: 'младенцы', value: 0}]
              - const guestsItems2 = [{title: 'взрослые', value: 2}, {title: 'дети', value: 1}, {title: 'младенцы', value: 0}]
              +dropdownGuests('dropdown', '', 'guests-dropdown', guestsItems1, -1, true)
              +dropdownGuests('dropdown', '', 'guests-dropdown-2', guestsItems2, 2, true)
            .right-bottom-wrapper__item
              +richCheckboxPuttonGroup('Rich Checkbox Buttons')
              .right-bottom-wrapper__bullet-list
                .right-bottom-wrapper__bullet-list--inner
                  - const bulletListItems = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
                  +labelPrimary('bullet list')
                  +bulletList(bulletListItems)
          .right-bottom-wrapper__inner-wrapper
            include includes/review/review
      .form-elements-footer
