doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= htmlWebpackPlugin.options.title
  body
    include includes/header/header
    main
      .form-elements-container
        .left-top-wrapper
          .left-top-wrapper-item
            include includes/text-field/text-field
          .left-top-wrapper-item
            .custom-input
              label
                span.custom-input__label Text field
                span.custom-input__state Hover / Focus
                .custom-input__wrapper.custom-input__wrapper--focused
                  input(type='text' name='text-field--focused' placeholder='Email' value='This is pretty awesome')
          .left-top-wrapper-item
            include includes/custom-select/custom-select
          .left-top-wrapper-item--large
            include includes/masked-text-field/masked-text-field
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper
              .left-top-wrapper-item__inner-item
                include includes/date-dropdown/date-dropdown
              .left-top-wrapper-item__inner-item
                include includes/date-dropdown/date-dropdown-selected
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              include includes/date-dropdown/filter-date-dropdown
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              include includes/subscription-text-field/subscription-text-field
        .right-top-wrapper
          .right-top-wrapper-item
            .right-top-wrapper-item__left-side
              span Checkbox Buttons
              include includes/custom-checkbox/custom-checkbox
              include includes/custom-checkbox/custom-checkbox-checked-pets
              include includes/custom-checkbox/custom-checkbox-checked-friends
            .right-top-wrapper-item__right-side
              span.right-top-wrapper-item__title-primary Range Slider
              span.right-top-wrapper-item__title-secondary 5 000₽ - 10 000₽
              include includes/range-slider/range-slider
              span.right-top-wrapper-item__title-primary Buttons
              .right-top-wrapper-item__wrapper--short
                include includes/button-contained/button-contained
                include includes/button-contained/button-contained-hovered
              .right-top-wrapper-item__wrapper--short
                include includes/button-outlined/button-outlined
                include includes/button-outlined/button-outlined-hovered
              .right-top-wrapper-item__wrapper--short
                include includes/button-text/button-text
                include includes/button-text/button-text-hovered
              .right-top-wrapper-item__wrapper
                include includes/button-icon-outlined/button-icon-outlined
              .right-top-wrapper-item__wrapper
                include includes/pagination/pagination
      .form-elements-container
        .left-bottom-wrapper
        .right-bottom-wrapper
