doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= htmlWebpackPlugin.options.title
  body
    include includes/header/header
    main
      .form-elements-container
        .left-top-wrapper
          include includes/text-field/text-field
        .right-top-wrapper
        .left-bottom-wrapper
        .right-bottom-wrapper
