//- Mixins
include includes/label-primary/label-primary
include includes/range-slider/range-slider
include includes/custom-checkbox/custom-checkbox
include includes/custom-radio/custom-radio
include includes/toggle/toggle
include includes/like-button/like-button
include includes/rating/rating
include includes/dropdown/dropdown

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= htmlWebpackPlugin.options.title
  body
    include includes/header/header
    main
      .form-elements-container
        .left-top-wrapper
          .left-top-wrapper-item
            include includes/text-field/text-field
          .left-top-wrapper-item
            .custom-input
              label
                span.custom-input__label Text field
                span.custom-input__state Hover / Focus
                .custom-input__wrapper.custom-input__wrapper--focused
                  input(type='text' name='text-field--focused' placeholder='Email' value='This is pretty awesome')
          .left-top-wrapper-item
            include includes/custom-select/custom-select
          .left-top-wrapper-item--large
            include includes/masked-text-field/masked-text-field
          .left-top-wrapper-item--large
            .flex-inner-wrapper
              .left-top-wrapper-item__inner-item
                include includes/date-dropdown/date-dropdown
              .left-top-wrapper-item__inner-item
                include includes/date-dropdown/date-dropdown-selected
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              include includes/date-dropdown/filter-date-dropdown
          .left-top-wrapper-item--large
            .left-top-wrapper-item__inner-wrapper--short
              include includes/subscription-text-field/subscription-text-field
        .right-top-wrapper
          .right-top-wrapper__left-side
            .right-top-wrapper__item
              +labelPrimary('Checkbox Buttons')
              +customCheckbox('Можно курить', 'smoking-allowed')
              +customCheckbox('Можно с питомцами', 'pets-allowed', 'checked')
              +customCheckbox('Можно пригласить гостей (до 10 человек)', 'party-allowed', 'checked')
            .right-top-wrapper__item
              +labelPrimary('Radio Buttons')
              +customRadio(['Мужчина', 'Женщина'], 'gender')
            .right-top-wrapper__item
              +labelPrimary('Toggle')
              +toggle('Получать спецпредложения', 'toggle', 'true')
              +toggle('Получать спецпредложения', 'toggle')
            .right-top-wrapper__item
              +labelPrimary('like button')
              .like-buttons-container
                +likeButton('2', false)
                +likeButton('12', true)
            .right-top-wrapper__item
              +labelPrimary('rate button')
              .flex-inner-wrapper
                +rating(4, 'random-name-first')
                +rating(5, 'random-name-second')
          .right-top-wrapper__right-side
            +rangeSlider('Range Slider', '5 000₽ - 10 000₽')
            +labelPrimary('Buttons')
            .right-top-wrapper--short
              include includes/button-contained/button-contained
              include includes/button-contained/button-contained-hovered
            .right-top-wrapper--short
              include includes/button-outlined/button-outlined
              include includes/button-outlined/button-outlined-hovered
            .right-top-wrapper--short
              include includes/button-text/button-text
              include includes/button-text/button-text-hovered
            .right-top-wrapper-item__wrapper
              include includes/button-icon-outlined/button-icon-outlined
            .right-top-wrapper-item__wrapper
              +labelPrimary('Pagination')
              include includes/pagination/pagination
      .form-elements-container
        .left-bottom-wrapper
          - const items = [{title: 'спальни', value: 2}, {title: 'кровати', value: 2}, {title: 'ванные комнаты', value: 0}]
          +dropdown('dropdown', 'default', 'room-dropdown', items, 2)
        .right-bottom-wrapper
