include includes/header/header
include includes/header-main/header-main
include includes/footer-main/footer-main
include includes/footer-mobile/footer-mobile
include includes/sprite/sprite

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +sprite()
    +header('#F4F4F6')
    main
      ul.headers-and-footers
        li.headers-and-footers__item
          +headerMain({
            isLoggedIn: false,
            userName: null,
            isFirstMenuItemActive: true,
            isHeaderOnPage: false
          })
        li.headers-and-footers__item
          +headerMain({
            isLoggedIn: true,
            userName: 'Юлий Цезарь',
            isFirstMenuItemActive: false,
            isHeaderOnPage: false
          })
        li.headers-and-footers__item
          +footerMain()
        li.headers-and-footers__item
          +footerMobile()
      .headers-and-footers__footer
