include includes/header/header
include includes/header-main/header-main

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header('#F4F4F6')
    main
      ul.headers-and-footers
        li.headers-and-footers__item
          +headerMain()
        li.headers-and-footers__item
          +headerMain(true, 'Юлий Цезарь')
        li.headers-and-footers__item
          include includes/footer-main/footer-main
        li.headers-and-footers__item
          include includes/footer-mobile/footer-mobile
      .headers-and-footers__footer
