include includes/header/header

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header()
    .site-map
      h1.site-map__title UI-kit
      ul.site-map__list
        li.site-map__item
          a.site-map__link(href='./colors-and-type.html') Colors & Type
        li.site-map__item
          a.site-map__link(href='./form-elements.html') Form elements
        li.site-map__item
          a.site-map__link(href='./cards.html') Cards
        li.site-map__item
          a.site-map__link(href='./headers-and-footers.html') Headers & Footers
      h1.site-map__title Pages
      ul.site-map__list
        li.site-map__item
          a.site-map__link(href='./landing-page.html') Landing page
        li.site-map__item
          a.site-map__link(href='./landing-page-dates-dropdown.html') Landing page/Dates Dropdown
        li.site-map__item
          a.site-map__link(href='./search-room.html') Search room
        li.site-map__item
          a.site-map__link(href='./search-room-dropdown.html') Search room/Filter/Preferences Dropdown
        li.site-map__item
          a.site-map__link(href='./search-room-expandable-checkbox-list.html') Search room/Filter/Preferences Expandable Checkbox list
        li.site-map__item
          a.site-map__link(href='./room-details.html') Room details
        li.site-map__item
          a.site-map__link(href='./registration.html') Registration
        li.site-map__item
          a.site-map__link(href='./sign-in.html') Sign in
