include includes/header/header

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +header()
    .site-map
      h1.site-map__title UI-kit
      ul.site-map__list
        li
          a(href='./colors-and-type.html') Colors & Type
        li
          a(href='./form-elements.html') Form elements
        li
          a(href='./cards.html') Cards
        li
          a(href='./headers-and-footers.html') Headers & Footers
      h1.site-map__title Pages
      ul.site-map__list
        li
          a(href='./landing-page.html') Landing page
