mixin customCheckbox(title, name, isChecked)
  .custom-checkbox
    label
      .custom-checkbox__input
        input(type='checkbox' name=name id=name checked=isChecked)
        div.custom-checkbox__input-border
          div.custom-checkbox__checkmark-outer
            div.custom-checkbox__checkmark-inner
      .custom-checkbox__label
        span.custom-checkbox__title=title
