.calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;

  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.05));
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__title {
  color: #1F2041;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.calendar__left-arrow {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url('./arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar__right-arrow {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url('./arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar__weekday-names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  color: #BC9CFF;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.calendar__weekday,
.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
  border-style: none;
  background-color: transparent;
  border-radius: 50%;
  color: rgba(31, 32, 65, 0.50);
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:focus-visible {
    outline: 3px solid #6bd0bf;
  }
}

.calendar__day--outside-period {
  color: rgba(31, 32, 65, 0.25);
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.calendar__day--current {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  color: #FFF;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.calendar__day--current ~ .calendar__day:not(.calendar__day--start):not(.calendar__day--finish):hover {
  cursor: pointer;
}

.calendar__day--start,
.calendar__day--finish {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  z-index: 1;
}

.calendar__day--start ~ .calendar__day:not(.calendar__day--finish):not(.calendar__day--finish ~ .calendar__day) {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 0;  
}

.calendar__day--start + .calendar__day::before {
  content: '';
  display: flex;
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  position: relative;
  left: -33px;
  margin-right: -20px;
}

.calendar__day--finish::before {
  content: '';
  display: flex;
  width: 20px;
  height: 40px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  position: relative;
  left: -13px;
  margin-right: -20px;
  z-index: -1;
}

.calendar__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
