.feature-comfort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 86px;
}

.feature-comfort__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.feature-comfort__text {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-comfort__title {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.feature-comfort__description {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}
