.feature-comfort
  .feature-comfort__wrapper
    .feature-comfort__icon
    .feature-comfort__text
      span.feature-comfort__title Комфорт
      span.feature-comfort__description Шумопоглощающие стены
