.feature-comfort__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.feature-comfort__icon {
  width: 48px;
  height: 48px;
  background-image: url('./insert_emoticon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.feature-comfort__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-comfort__title {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.feature-comfort__description {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
