.bullet-list__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .bullet-list__item {
    list-style: none;
    display: flex;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      margin-top: 7px;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
    }

    .bullet-list__text {
      display: inline-block;
      font-family: 'Montserrat', Arial, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      vertical-align: middle;
      color: rgba(31, 32, 65, 0.75);
    }
  }
}
