.bullet-list__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bullet-list__list li {
  list-style: none;
}

.bullet-list__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.bullet-list__icon {
  margin-top: 8px;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}

.bullet-list__label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
