include ../../ui-kit/includes/sprite/sprite
include ../../ui-kit/includes/header-main/header-main
include ../../ui-kit/includes/footer-main/footer-main
include ../../ui-kit/includes/footer-mobile/footer-mobile

include ../../ui-kit/includes/registration-sign-in-slider/registration-sign-in-slider
include ../../ui-kit/cards/log-in-card/log-in-card

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="keywords", content="")
    meta(name="description", content="")
    title=htmlWebpackPlugin.options.title
  body
    +sprite()
    .wrapper
      +headerMain({
        isLoggedIn: false,
        userName: null,
        isFirstMenuItemActive: false,
        isHeaderOnPage: true
      })
      main.sign-in__main
        section.sign-in__form
          +logInCard()
        +registrationSignInSlider()
      +footerMain()
      +footerMobile()
