.custom-text-field__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.custom-text-field__label--primary {
  color: #1F2041;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.custom-text-field__label--secondary {
  color: rgba(31, 32, 65, 0.50);
  text-align: right;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.custom-text-field__display {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.custom-text-field__display {
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }
}

.custom-text-field__display--focused {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.custom-text-field__display {
  input {
    border-style: none;
    outline: none;

    width: 100%;
    margin-left: 15px;
    margin-right: 15px;

    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
}
