.custom-text-field-font-styles {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  line-height: normal;
}

.custom-text-field__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.custom-text-field__label-primary {
  @extend .custom-text-field-font-styles;
  color: #1F2041;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.custom-text-field__label-secondary {
  @extend .custom-text-field-font-styles;
  color: rgba(31, 32, 65, 0.50);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.custom-text-field__display {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  &:has(:focus-visible) {
    border: 1px solid rgba(31, 32, 65, 0.5);
  }

  .custom-text-field__input {
    border-style: none;
    outline: none;

    width: 100%;
    margin-left: 15px;
    margin-right: 15px;

    @extend .custom-text-field-font-styles;
    font-weight: 400;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
  }
}
