include ../../includes/rating/rating
include ../../includes/slider/slider

mixin roomCard(imgUrl, roomNumber, isLux, rating, reviewsCount, ratingName)
  .room-card
    .room-card__slider
      +slider(imgUrl)
    .room-card__details
      .room-card__header
        .room-card__room
          span.room-card__number №&nbsp;
          span.room-card__room-number=roomNumber
          if isLux
            span.room-card__room-type люкс
        .room-card__price
          span.room-card__price-amount 9 990₽
          span.room-card__price-label в сутки
      .room-card__rating
        +rating(rating, ratingName, true)
        .room-card__reviews-count
          span=reviewsCount
          span Отзывов
