@import url('../pug/ui-kit/includes/header/header.scss');
@import url('../pug/ui-kit/includes/colors-item/colors-item.scss');
@import url('../pug/ui-kit/includes/types-item/types-item.scss');
@import url('../pug/ui-kit/includes/text-field/text-field.scss');
@import url('../pug/ui-kit/includes/custom-select/custom-select.scss');
@import url('../pug/ui-kit/includes/masked-text-field/masked-text-field.scss');
@import url('../pug/ui-kit/includes/date-dropdown/date-dropdown.scss');
@import url('../pug/ui-kit/includes/subscription-text-field/subscription-text-field.scss');
@import url('../pug/ui-kit/includes/custom-checkbox/custom-checkbox.scss');
@import url('../pug/ui-kit/includes/range-slider/range-slider.scss');
@import url('../pug/ui-kit/includes/button-contained/button-contained.scss');
@import url('../pug/ui-kit/includes/button-outlined/button-outlined.scss');
@import url('../pug/ui-kit/includes/button-text/button-text.scss');
@import url('../pug/ui-kit/includes/button-icon-outlined/button-icon-outlined.scss');
@import url('../pug/ui-kit/includes/pagination/pagination.scss');
@import url('../pug/ui-kit/includes/custom-radio/custom-radio.scss');
@import url('../pug/ui-kit/includes/label-primary/label-primary.scss');
@import url('../pug/ui-kit/includes/toggle/toggle.scss');
@import url('../pug/ui-kit/includes/like-button/like-button.scss');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.colors-and-types-wrapper {
  margin: 0 auto;
  margin-top:4.2vh;
  display: flex;
  justify-content: space-between;
  width: 1140px;
}

.colors, .types {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.form-elements-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
}

.left-top-wrapper {
  width: 320px;
}

.left-top-wrapper-item {
  height: 85px;
}

.left-top-wrapper-item--large {
  height: 105px;
}

.left-top-wrapper-item__inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-top-wrapper-item__inner-item {
  width: 150px;
}

.left-top-wrapper-item__inner-wrapper--short {
  width: 267px;
}

.right-top-wrapper {
  width: 712px;
  display: flex;
  justify-content: space-between;
}

.right-top-wrapper__left-side {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 261px;
}

.right-top-wrapper__right-side {
  width: 320px;
}

.title-secondary {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
  text-transform: uppercase;
  margin-right: 55px;
  margin-top: 5px;
  float: right;
}

.right-top-wrapper--short {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 30px;
  width: 218px;
}

.toggle {
  margin-top: 14px;
}

.like-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.left-bottom-wrapper {}

.right-bottom-wrapper {}
