@import url('../pug/ui-kit/includes/header/header.scss');
@import url('../pug/ui-kit/includes/colors-item/colors-item.scss');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  margin-top: 67px;
  width: 1132px;
  border: 1px solid blueviolet;
}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
