@import url('../pug/ui-kit/includes/header/header.scss');
@import url('../pug/ui-kit/includes/colors-item/colors-item.scss');
@import url('../pug/ui-kit/includes/types-item/types-item.scss');
@import url('../pug/ui-kit/includes/text-field/text-field.scss');
@import url('../pug/ui-kit/includes/custom-select/custom-select.scss');
@import url('../pug/ui-kit/includes/masked-text-field/masked-text-field.scss');
@import url('../pug/ui-kit/includes/date-dropdown/date-dropdown.scss');
@import url('../pug/ui-kit/includes/subscription-text-field/subscription-text-field.scss');
@import url('../pug/ui-kit/includes/custom-checkbox/custom-checkbox.scss');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.colors-and-types-wrapper {
  margin: 0 auto;
  margin-top:4.2vh;
  display: flex;
  justify-content: space-between;
  width: 1140px;
}

.colors, .types {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.form-elements-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
}

.left-top-wrapper {
  width: 320px;
}

.left-top-wrapper-item {
  height: 85px;
}

.left-top-wrapper-item--large {
  height: 105px;
}

.left-top-wrapper-item__inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.left-top-wrapper-item__inner-item {
  width: 150px;
}

.left-top-wrapper-item__inner-wrapper--short {
  width: 267px;
}

.right-top-wrapper {
  width: 712px;
}

.right-top-wrapper-item {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}

.right-top-wrapper-item__left-side {
  width: 260px;
}

.right-top-wrapper-item__left-side span {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
  color: #1F2041;
}

.right-top-wrapper-item__right-side {
  width: 320px;
}

.left-bottom-wrapper {}

.right-bottom-wrapper {}
