.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dropdown-guests {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-guests__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dropdown-guests__primary-label {
  color:#1F2041;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdown-guests__secondary-label {
  color: rgba(31, 32, 65, 0.50);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.dropdown-guests__input {
  @extend .visually-hidden;

  &:not(:checked) ~ .dropdown-guests__list {
    @extend .visually-hidden;
  }

  &:not(:checked) {
    + .dropdown-guests__label {
      .dropdown-guests__display {
        .dropdown-guests__expand-icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
        }
      
        .dropdown-guests__hide-icon {
          @extend .visually-hidden;
        }
      }
    }
  }

  &:checked {
    + .dropdown-guests__label {
      .dropdown-guests__display {
        .dropdown-guests__expand-icon {
          @extend .visually-hidden;
        }

        .dropdown-guests__hide-icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
        }
      }

      + .dropdown-guests__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        background-color: #FFFFFF;
      
        position: absolute;
        top: 64px;
        width: 100%;
        padding: 6px 7px 12px;
      
        border-left: 1px solid rgba(31, 32, 65, 0.25);
        border-bottom: 1px solid rgba(31, 32, 65, 0.25);
        border-right: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &:focus-visible {
    + .dropdown-guests__label {
      .dropdown-guests__display {
        outline: 3px solid #6bd0bf;
      }
    }
  }
}

.dropdown-guests__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-guests__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 0 0;
}

.dropdown-guests__output {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.dropdown-guests__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;

  .dropdown-guests__primary-label {
    max-width: 150px;
  }
}

.dropdown-guests__list-item:last-child {
  margin-top: 12px;
  // margin-bottom: 6px;
}

.dropdown-guests__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  button {
    &:focus-visible {
      outline: 3px solid #6bd0bf;
    }
  }
}

.dropdown-guests__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background-color: #FFFFFF;

  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: rgba(31, 32, 65, 0.25);
}

.dropdown-guests__button:not(.dropdown-guests__button--disabled),
.dropdown-guests__button:not(.dropdown-guests__button--disabled) {
  cursor: pointer;
}

.dropdown-guests__button--disabled {
  border: 1px solid rgba(31, 32, 65, 0.05);
}
