include ../../includes/main-title/main-title
include ../../includes/custom-text-field/custom-text-field
include ../../includes/button-outlined/button-outlined
include ../../includes/button-icon-contained/button-icon-contained

.log-in-card
  .log-in-card__main
    .log-in-card__title
      +mainTitle('Войти')
    .log-in-card__credentials
      .log-in-card__email
          +customTextField('', '', '', 'Email', '', false)
      .log-in-card__password
        +customTextField('', '', '', 'Пароль', '', false)
    .log-in-card__log-in-button
      +buttonIconContained('войти')
  .log-in-card__create-account
    span.log-in-card__not-registered-yet Нет аккаунта на Toxin?
    .log-in-card__register-button
      +buttonOutlined('создать')
