.footer-main__container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.footer-main__nav {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer-main__nav-item {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footer-main__general {
  gap: 12px;
}

.footer-main__logo {
  .footer-main__link {
    outline: none;
  }

  &:has(:focus-visible) {
    outline: 3px solid #6bd0bf;
    border-radius: 3px;
  }
}

.footer-main__navigation,
.footer-main__about,
.footer-main__support {
  width: 160px;
}

.footer-main__general,
.footer-main__subscription {
  width: 260px;
}

.footer-main__text {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-main__title {
  margin-top: 5px;
  color: #1F2041;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.footer-main__link:not(.footer-main__logo .footer-main__link) {
  color: rgba(31, 32, 65, 0.50);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  text-decoration: none;

  &:focus-visible {
    outline: 3px solid #6bd0bf;
    border-radius: 3px;
  }
}

.footer-main__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-main__copyright {
  border-top: 1px solid rgba(31, 32, 65, 0.10);
}

.footer-main__copyright-container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.footer-main__socials {
  display: flex;
  align-items: center;
  gap: 22px;
}
