include ../subscription-text-field/subscription-text-field
include ../svg-icon/svg-icon

mixin footerMain()
  footer.footer-main
    .footer-main__container
      .footer-main__nav
        .footer-main__nav-item.footer-main__general
          .footer-main__logo
            a.footer-main__link(href='/mock-address/change-me')
              +svgIcon({name: 'logo', width: 106, height: 40})
          p.footer-main__text.
            Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-main__nav-item.footer-main__navigation
          h3.footer-main__title навигация
          ul.footer-main__list
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') О нас
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Новости
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Служба поддержки
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Услуги
        .footer-main__nav-item.footer-main__about
          h3.footer-main__title о нас
          ul.footer-main__list
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') О сервисе
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Наша команда
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Вакансии
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Инвесторы
        .footer-main__nav-item.footer-main__support
          h3.footer-main__title Служба поддержки
          ul.footer-main__list
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Соглашения
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Сообщества
            li.footer-main__list-item
              a.footer-main__link(href='/mock-address/change-me') Связь с нами
        .footer-main__nav-item.footer-main__subscription
          h3.footer-main__title Подписка
          p.footer-main__text Получайте специальные предложения и новости сервиса
          +subscriptionInput('subscription-text-field', 'Email')
    .footer-main__copyright
      .footer-main__copyright-container
        p.footer-main__text Copyright © 2018 Toxin отель. Все права защищены.
        .footer-main__socials
          a.footer-main__link(href='/mock-address/change-me')
            +svgIcon({name: 'twitter', width: 24, height: 20})
          a.footer-main__link(href='/mock-address/change-me')
            +svgIcon({name: 'facebook', width: 22, height: 22})
          a.footer-main__link(href='/mock-address/change-me')
            +svgIcon({name: 'instagram', width: 22, height: 22})
