.main-page-slider
  img.main-page-slider__slide(src="./assets/landing-bg-1.jpg" alt="background")
  img.main-page-slider__slide(src="./assets/landing-bg-2.jpg" alt="background")
  img.main-page-slider__slide(src="./assets/landing-bg-3.jpg" alt="background")
  p.main-page-slider__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
