include ../ui-kit/includes/header-main/header-main

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    .landing-page__header
      +headerMain()
    main.landing-page__background
      form.landing-page__search-form(action='#' method='GET')
        include ../ui-kit/cards/search-card/search-card
      include ../ui-kit/includes/main-page-slider/main-page-slider
    .landing-page__footer
      include ../ui-kit/includes/footer-main/footer-main
