.landing-page__header .header-main {
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  z-index: 1;
}

.landing-page__background img {
  width: 100%;
}

.landing-page__background .landing-page__search-form {
  position: absolute;
  margin-top: 140px;
  margin-left: 140px;
  z-index: 1;
}

.landing-page__slogan {
  position: absolute;
  width: 297px;
  right: 134px;
  bottom: 21px;

  color: rgba(31, 32, 65, 0.75);
  text-align: right;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.landing-page__footer .footer-main__nav {
  margin: 95px 0 100px 0;
}
