include ../ui-kit/includes/header-main/header-main
include ../ui-kit/cards/search-card/search-card
include ../ui-kit/includes/main-page-slider/main-page-slider
include ../ui-kit/includes/footer-main/footer-main

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=htmlWebpackPlugin.options.title
  body
    +headerMain()
    main.landing-page__main
      section.landing-page__search-form
        +searchCard()
      +mainPageSlider()
    +footerMain()
