.expandable-checkbox-list input {
  display: none;
}

.expandable-checkbox-list input + label {
  cursor: pointer;
}

.expandable-checkbox-list__header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandable-checkbox-list__title {
  color: #1F2041;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.expandable-checkbox-list input + label .expandable-checkbox-list__icon::before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  background-image: url('./expand_more.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.expandable-checkbox-list input:checked + label .expandable-checkbox-list__icon::before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  background-image: url('./hide.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.expandable-checkbox-list__list {
  display: none;
}

.expandable-checkbox-list input:checked + label + .expandable-checkbox-list__list {
  display: block;
}
