.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.expandable-checkbox-list__input {
  @extend .visually-hidden;

  &:not(:checked) ~ .expandable-checkbox-list__list {
    @extend .visually-hidden;
  }

  &:focus-visible {
    + .expandable-checkbox-list__label {
      .expandable-checkbox-list__header {
        outline: 3px solid #6bd0bf;
        border-radius: 4px;
      }
    }
  }

  &:checked {
    + .expandable-checkbox-list__label {
      .expandable-checkbox-list__icon {
        &::before {
          content: '';
          display: block;
          width: 44px;
          height: 44px;
          background-image: url('./hide.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      + .expandable-checkbox-list__list {
        display: block;
      }
    }
  }
}

.expandable-checkbox-list__label {
  cursor: pointer;
}

.expandable-checkbox-list__header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandable-checkbox-list__title {
  color: #1F2041;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.expandable-checkbox-list__icon {
  &::before {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    background-image: url('./expand_more.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
