.date-dropdown
  span.date-dropdown__label Date dropdown
  .date-dropdown__wrapper
    button.date-dropdown__button(type='button' aria-label='Выберите даты')
      span.date-dropdown__text 19 авг - 23 авг
      span.date-dropdown__icon
        include expand_more.svg
