.footer-mobile
  .footer-mobile__logo
    include logo-main.svg
  .footer-mobile__copyright
    p Copyright © 2018 Toxin отель. Все права защищены.
  .footer-mobile__socials
    .footer-mobile__icon.twitter
    .footer-mobile__icon.facebook
    .footer-mobile__icon.instagram
