.footer-mobile {
  padding: 120px 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #FFFFFF;
}

.footer-mobile__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-mobile__link {
  line-height: 0;

  &:focus-visible {
    outline: 3px solid #6bd0bf;
    border-radius: 3px;
  }
}

.footer-mobile__copyright {
  color: rgba(31, 32, 65, 0.75);
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-mobile__socials {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 22px;
}
