mixin footerMobile()
  .footer-mobile
    .footer-mobile__logo
      a.footer-mobile__link(href='/mock-address/change-me')
        include logo-main.svg
    p.footer-mobile__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer-mobile__socials
      a.footer-mobile__link(href='/mock-address/change-me')
        include ./twitter-icon.svg
      a.footer-mobile__link(href='/mock-address/change-me')
        include ./facebook-icon.svg
      a.footer-mobile__link(href='/mock-address/change-me')
        include ./instagram-icon.svg
