.search-card {
  padding: 40px 30px 25px 30px;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.20);
}

.search-card__title {
  max-width: 320px;
  margin-bottom: 22px;
}

.search-card__dates-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
}

.search-card__check-in-date,
.search-card__check-out-date {
  min-width: 150px;
}

.search-card__guests-input-wrapper {
  max-width: 320px;
  margin-top: 21px;
  margin-bottom: 31px;
}

.search-card__search-button {
  max-width: 320px;
}
