include ../../includes/main-title/main-title
include ../../includes/custom-select/custom-select
include ../../includes/button-icon-contained/button-icon-contained

mixin searchCard()
  .search-card
    form.search-card__form(method='get')
      .search-card__title
        +mainTitle('Найдём номера под ваши пожелания')
      .search-card__dates-wrapper
        .search-card__check-in-date
          +customSelect({
            label: 'прибытие',
            text: 'ДД.ММ.ГГГГ',
            ariaLabel: 'Выберите дату'
          })
        .search-card__check-out-date
          +customSelect({
            label: 'выезд',
            text: 'ДД.ММ.ГГГГ',
            ariaLabel: 'Выберите дату'
          })
      .search-card__guests-input-wrapper
        +customSelect({
            label: 'гости',
            text: 'Сколько гостей',
            ariaLabel: 'Выберите количество гостей'
          })
      .search-card__search-button
        +buttonIconContained('подобрать номер', 'submit')
