mixin sprite()
  svg.visually-hidden
    symbol(id='logo')
      include ../../../../img/sprite/logo-main.svg
    symbol(id='facebook')
      include ../../../../img/sprite/facebook-icon.svg
    symbol(id='instagram')
      include ../../../../img/sprite/instagram-icon.svg
    symbol(id='twitter')
      include ../../../../img/sprite/twitter-icon.svg
    symbol(id='arrow-forward-white')
      include ../../../../img/sprite/arrow-forward-white.svg
