mixin sprite()
  svg.visually-hidden
    symbol(id='logo')
      include ../../../../img/sprite/logo-main.svg
    symbol(id='facebook')
      include ../../../../img/sprite/facebook-icon.svg
    symbol(id='instagram')
      include ../../../../img/sprite/instagram-icon.svg
    symbol(id='twitter')
      include ../../../../img/sprite/twitter-icon.svg
    symbol(id='arrow-forward-white')
      include ../../../../img/sprite/arrow-forward-white.svg
    symbol(id='arrow-backward-white')
      include ../../../../img/sprite/arrow-backward-white.svg
    symbol(id='expand-more-light')
      include ../../../../img/sprite/expand-more-light.svg
    symbol(id='expand-more-dark')
      include ../../../../img/sprite/expand-more-dark.svg
    symbol(id='hide')
      include ../../../../img/sprite/hide.svg
    symbol(id='hide-light')
      include ../../../../img/sprite/hide-light.svg
    symbol(id='feature-comfort')
      include ../../../../img/sprite/feature-comfort.svg
    symbol(id='feature-convenience')
      include ../../../../img/sprite/feature-convenience.svg
    symbol(id='feature-cosiness')
      include ../../../../img/sprite/feature-cosiness.svg
    symbol(id='favorite-border')
      include ../../../../img/sprite/favorite-border.svg
    symbol(id='favorite')
      include ../../../../img/sprite/favorite.svg
    symbol(id='slider-left-arrow')
      include ../../../../img/sprite/slider-left-arrow.svg
    symbol(id='slider-right-arrow')
      include ../../../../img/sprite/slider-right-arrow.svg
