mixin customRadio(blocks, name)
  .custom-radio
    each block, i in blocks
      .custom-radio__block
        label
          - const isChecked = i === 0
          input(type='radio' name= name checked= isChecked)
          span.custom-radio__button--outer
            span.custom-radio__button--inner
          span.custom-radio__label= block
