.custom-radio
  .custom-radio__block
    label
      input(type='radio' name='gender' checked)
      span.custom-radio__button--outer
        span.custom-radio__button--inner
      span.custom-radio__label Мужчина
  .custom-radio__block
    label
      input(type='radio' name='gender')
      span.custom-radio__button--outer
        span.custom-radio__button--inner
      span.custom-radio__label Женщина
