.feature-cosiness {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 86px;
}

.feature-cosiness__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.feature-cosiness__icon {
  margin-right: 7px;
}

.feature-cosiness__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-cosiness__title {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
}

.feature-cosiness__description {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
