.feature-cosiness
  .feature-cosiness__wrapper
    .feature-cosiness__icon
    .feature-cosiness__text
      span.feature-cosiness__title Уют
      span.feature-cosiness__description Номер оснащён камином
