mixin registrationSignInSlider()
  .registration-sign-in-slider
    img.registration-sign-in-slider__slide(src="./assets/reg-sign-in-1.jpg" alt="background")
    img.registration-sign-in-slider__slide(src="./assets/reg-sign-in-2.jpg" alt="background")
