include ../button-contained/button-contained
include ../button-outlined/button-outlined
include ../svg-icon/svg-icon

mixin headerMain({isLoggedIn, userName, isFirstMenuItemActive, isHeaderOnPage})
  header.header-main(class=`${isHeaderOnPage ? 'header-main--settled' : ''}`)
    .header-main__container
      .header-main__logo
        a.header-main__link(href='/mock-address/change-me')
          +svgIcon({name: 'logo', width: 106, height: 40})
      nav.header-main__nav
        ul.header-main__menu
          li.header-main__menu-item
            a.header-main__link(
              class=`${isFirstMenuItemActive ? 'header-main__link--active' : ''}`
              href='/mock-address/change-me'
            )
              span.header-main__text О нас
          li.header-main__menu-item
            label.header-main__label
              span.header-main__text Услуги
              input.header-main__input(type='checkbox' name='menu-item-services')
              span.header-main__menu-icon
          li.header-main__menu-item
            a.header-main__link(href='/mock-address/change-me')
              span.header-main__text Вакансии
          li.header-main__menu-item
            a.header-main__link(href='/mock-address/change-me')
              span.header-main__text Новости
          li.header-main__menu-item
            label.header-main__label
              span.header-main__text Соглашения
              input.header-main__input(type='checkbox' name='menu-item-agreements')
              span.header-main__menu-icon
        .header-main__account
          if isLoggedIn && userName
            span.header-main__user-name=userName
          else
            .header-main__log-in-button
              +buttonOutlined('войти')
            .header-main__register-button
              +buttonContained('зарегистрироваться')
  