.pagination
  ul.pagination__list
    //- li.pagination__page.pagination__page--prev
    //-   include arrow_backward.svg
    li.pagination__page.pagination__page--current 1
    li.pagination__page 2
    li.pagination__page 3
    li.pagination__page ...
    li.pagination__page 15
    li.pagination__page.pagination__page--next
      include arrow_forward.svg
