.pagination-font-styles {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  color: rgba(31, 32, 65, 0.5);
}

.pagination {
  width: fit-content;
}

.pagination__list {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: flex-start;
  list-style: none;
}

.pagination__page,
.pagination__boundary {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.pagination__boundary {
  display: flex;
  justify-content: center;
  align-items: center;

  @extend .pagination-font-styles;
}

.pagination__page-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border-style: none;

  @extend .pagination-font-styles;

  &:focus-visible {
    outline: 3px solid #6bd0bf;
  }
}

.pagination__page--current {
  .pagination__page-button {
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}

.pagination__page {
  &:not(.pagination__page--current) {
    *:hover {
      cursor: pointer;
    }
  }
}

.pagination__page {
  &:not(.pagination__page--current) {
    &:not(.pagination__page--next) {
      &:not(.pagination__page--prev) {
        &:hover {
          border: 1px solid rgba(31, 32, 65, 0.5);
        }
      }
    }
  }
}

.pagination__page--next,
.pagination__page--prev {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.pagination__page--next,
.pagination__page--prev {
  &:hover {
    opacity: 0.5;
  }
}

.pagination__label {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.pagination__text {
  @extend .pagination-font-styles;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
