.masked-input
  label
    span.masked-input__label masked text field
    .masked-input__wrapper
      input(type='text' name='text-field' placeholder='ДД.ММ.ГГГГ' pattern='[0-9]{2}.[0-9]{2}.[0-9]{4}')
