.header {
  height: 145px;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
