mixin customSelect(label, text, ariaLabel)
  .custom-select
    .custom-select__label
      span.custom-text-field__label--primary=label
    .custom-select__wrapper
      button.custom-select__button(type='button' aria-label=ariaLabel)
        span.custom-select__text=text
        span.custom-select__icon
          include expand_more.svg
