.review__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.review__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.review__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__avatar img {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.10);
}

.review__header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review__user-name {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.review__date {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.review__body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.review__comment {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
