include ../like-button/like-button

mixin review({userName, text, dateTimeStamp, likesCount, isLiked})
  .review
    .review__wrapper
      .review__header
        .review__avatar
          img.review__img(src='./assets/image.jpg', alt='user-avatar')
        .review__header-text
          span.review__user-name=userName
          span.review__date=dateTimeStamp
      .review__body
        .review__like-button
          +likeButton(likesCount, isLiked)
        p.review__comment=text
